{% extends "main_template.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/gallery_grid.css')}}">
{% endblock head %}

{% block body %}
<section>
    <main class="container">


        <div class="gallery-container">
            {% for image in images %}
            <img src="{{ url_for('static', filename='gallery_images/' + image) }}" alt="{{image}}">
            {% endfor %}
        </div>
        <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

    </main>
</section>

<!--<section class="row">-->
<!--  {% for image in images %}-->
<!--    <section class="col-md-4 col-sm-6" style="background-color: green;">-->
<!--    </section>-->
<!--  {% endfor %}-->
<!--</section>-->
{% endblock body %}