{% extends "main_template.html" %}
{% block title %}Home Page{% endblock title %}
{% block body %}
<section>
    <main>
        <div class="grid-container">
            <div class="grid-picture ">
                <img class="home-img" src="{{url_for('static', filename='images/stock-photo.png')}}">
            </div>
            <div class="home-d">
                <p>Mr Reed has over 25 years experience in the jewellery business, 7 of those spent
                    as an
                    apprenticeship to hone the craft and is based in Brighton. He owns a fully equipped workshop for
                    repairs and orders.</p>
                <p>
                    He has experience with working with gold, silver and platinum to order or his own style of
                    design. Though he also allows
                    for customers to have their own custom work create with private commissions. Though he will buy
                    and sell jewellery as well.
                </p>
                <p>If you are a Harry Potter fan, he has done work for the Great Frog which designed and created the
                    jewellery in Harry Potter.
                </p>
            </div>
        </div>
    </main>
</section>
{% endblock body %}