{% extends "main_template.html" %}
{% block title %}Review{% endblock title %}
{% block body %}

<section>
    <main>
        <div class="grid-container-review">
            <div class="item-a">
                <p>Hi Neil, thank you so much for your amazing work it's lovely my sister is going to love it!</p>
            </div>
            <div class="item-b">
                <p>My ring is amazing thank you so much😁</p>
            </div>
            <div class="item-c">
                <p>Thank you so much I love it x</p>
            </div>
            <div class="item-d">
                <p>Hi Neil, thank you so much for finishing the ring it was just what I pictured in my mind 😁 best
                    wishes.</p>
            </div>
            <div class="item-e">
                <p>The ring is spot-on many thanks for putting everything right.</p>
            </div>
            <div class="item-f">
                <p>Hi, I have been meaning to text to say thanks for altering my pearl ring you did a great job and it's
                    much more secure and perfect Fit.</p>
            </div>
        </div>
    </main>
</section>

{% endblock body %}